# Environment variables
.env
.env.local
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
**/db.sqlite3

# Node
node_modules/
apps/web-client/dist/
apps/web-client/dist-ssr/
dist/
dist-ssr/
*.local
.vite/

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
