# Environment variables
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
db.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
